{% extends 'accounts/main.html' %}

{% block content %}

<style>
	div.ex{
		height: 250px;
		overflow: scroll;
	}
</style>

<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2">
		<h5>GAMES :</h5>
		<hr>
		<div class="card card-body">
			{% if request.user.is_staff %}
			<a class="btn btn-primary btn-sm btn-block" href="{% url 'add_game' %}">Add Game</a>
			{% endif %}
			<table class="table table-sm">
				<tr>
					<th>Games</th>
				</tr>

				{% for i in games %}
					<tr>
						<td>{{i.name}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<h5>LATEST MEMBERS :</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Member</th>
					<th>Phone Number</th>
					<th>University</th>
					<th></th>
				</tr>

				{% for i in members %}
					<tr>
						<td>{{i.name}}</td>
						<td>{{i.phone}}</td>
						<td>{{i.college}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'profile' i.id %}">View</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<h5>LATEST TOURNAMENTS :</h5>
		<hr>
		<div class="card">
			{% if request.user.is_staff %}
			<a class="btn btn-primary btn-sm btn-block" href="{% url 'addtournament' %}">New Tournamnet</a>
			{% endif %}
			<div class="card card-body ex">
				<table class="table table-sm">
					<tr>
						<th>Name</th>
						<th>Game</th>
						<th></th>
					</tr>
					{% for i in tournament %}
						<tr>
							<td>{{i.name}}</td>
							<td>{{i.game}}</td>
							<td><a class="btn btn-sm btn-info" href="{% url 'tournament' i.id %}">View</a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% if request.user.is_staff %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<h5>LEAD APPLICATIONS :</h5>
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>Name</th>
						<th>Phone Number</th>
						<th>University</th>
						<th></th>
					</tr>

					{% for i in leads %}
						<tr>
							<td>{{i.user}}</td>
							<td>{{i.phone}}</td>
							<td>{{i.college}}</td>
							<td>
								<form action="{% url 'approve' %}" method="POST"> 
							      {% csrf_token %}
							      <button type="submit" name = "profile_id" value = "{{i.id}}" class="btn btn-warning">Approve</button>    
							    </form>
							</td>

							<td>
								<form action="{% url 'delete' %}" method="POST"> 
							      {% csrf_token %}
							      <button type="submit" name = "profile_id" value = "{{i.id}}" class="btn btn-warning">Delete</button>    
							    </form>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endif %}


{% endblock %}
