{% extends 'accounts/main.html' %}
{% block content %}

<br>
<div class ="row">
	<div class="col-md-6">
		<div class="card card-body">
			<p>Are you sure you want to remove "{{teamMember.member}}" from team?</p>
			<form action="{% url 'deleteTeamMember' teamMember.id %}" method="POST">
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'team'  teamMember.team.id%}">Cancel</a>
				
				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>
{% endblock %}